[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2 = "*"
python-dotenv = "*"
dj-database-url = "*"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
dnspython = "*"
djongo = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"
