[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
dj-database-url = "*"
dnspython = "*"
djongo = "*"
pytz = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
